/* mobile first approach */
/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #eaeaea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* general */
h2 {
  font-family: sans-serif;
  text-align: center;
  margin: 0 4rem;
  margin-bottom: 1rem;
}


#main {
  padding: 1rem;
  background: #fafaff;
}
#title {
  font-family: 'Bebas Neue', cursive;
  margin: 1rem 0;
  text-align: center;
}
/* img */
#img-div {
  align-self: center;
  background: #eee;;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}
#img {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

#img-caption {
  font-style: italic;
  font-size: 1rem;
  align-self: flex-end;
  padding-right: 0.5rem;

}
/* text content */
#tribute-info {
  padding: 1rem;
  line-height: 1.5;
  font-family: sans-serif;
}
#tribute-link {
  font-family: sans-serif;
  margin-bottom: 1rem;
  /* background: yellow; */
  display: inline-block;
  text-decoration: none;
  color: cornflowerblue;
  padding: 0.5rem;
  transition: all 0.2s ease;
}
#tribute-link:hover {
  background: #666;
  color: #fff;
}

.characters-list {
  list-style: none;
  border: 1px solid #555;
  padding: 1rem;
}
.characters-list a {
  font-family: sans-serif;
  color: #222;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 1rem;
  padding: 0.5rem;
  transition: all 0.2s ease;
}

.characters-list a:hover {
  background: crimson;
  color: #eaeaea;
}

/* media queries */
@media (min-width:600px) {
  body {
    /* background: deeppink; */
  }
  #title {
    font-size: 2.4rem;
  }
  #tribute-info {
    padding: 4rem;
    font-size: 1.2rem;
  }
  #tribute-link {
    margin-left: 4rem;
  }
  #img-div {
    margin: 0 2rem;
  }
  .characters-list {
    margin: 0 4rem;
  }
}

@media (min-width:800px) {
  body {
    /* background: chartreuse; */
  }

  #title {
    font-size: 3.4rem;
    margin-top: 2rem;
  }

  #main {
    max-width: 800px;
    /* padding: 4rem; */
    margin: 0 auto;
    font-size: 1.4rem;
  }

  #img-div {
    margin: 0 4rem;
  }

  #tribute-link {
    margin-left: 4rem;
  }
}
